#CERACONFIG

[Projections]
NumChannelsPerRow = 200
NumRows = 150
PixelSizeU = 1.3
PixelSizeV = 1.3
Rotation = None
FlipU = false
FlipV = true
Padding = 0
BigEndian = false
CropBorderRight = 0
CropBorderLeft = 0
CropBorderTop = 0
CropBorderBottom = 0
BinningFactor = None
SkipProjectionInterval = 1
ProjectionDataDomain = Intensity
RawHeaderSize = 0

[Volume]
SizeX = 200
SizeY = 200
SizeZ = 150
# Midpoints are only necessary for reconstructions
# without projection matrices.
MidpointX = 0 # -1.4429914472202654e-6
MidpointY = 0 # 0.08397037060881657
MidpointZ = 0 # -2.782009019149826
VoxelSizeX = 0.893752963236774
VoxelSizeY = 0.893752963236774
VoxelSizeZ = 0.893752963236774
OutputDatatype = float

[CustomKeys]
NumProjections = 21
ProjectionFileType = tiff
VolumeOutputPath = 01_full_example_recon_cera.raw
ProjectionStartNum = 0
ProjectionFilenameMask = ../projections/corrected/01_full_example_%04d.tif

[CustomKeys.ProjectionMatrices]
SourceObjectDistance = 274.9859134231963
SourceImageDistance = 399.97818430219934
DetectorOffsetU = 99.38034100478363
DetectorOffsetV = 77.62679083487883
StartAngle = 180.0
ScanAngle = 320
AquisitionDirection = CW
a = -0.010121003579919465
b = -0.030168071806935964
c = -0.01872914524185657
ProjectionMatrixFilename = 01_full_example_recon_cera_projtable.txt

[Backprojection]
ClearOutOfRegionVoxels = false
InterpolationMode = bilinear
FloatingPointPrecision = half
Enabled = true

[Filtering]
Enabled = true
Kernel = shepp

[I0Log]
Enabled = true
Epsilon = 1.0E-5
GlobalI0Value = 45000.430564932205
